body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f5;
}

.header {
  background: #7b8ea3;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  border-radius: 0 0 12px 12px;
}

.container {
  display: flex;
  margin: 20px;
}

.menu {
  background: #64b5ff;
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  height: 70vh;
  color: white;
  font-size: 20px;
}

.content {
  background: #e9ebf0;
  flex: 1;
  margin-left: 20px;
  padding: 30px;
  border-radius: 12px;
  font-size: 22px;
  color: #6f7f94;
}

.footer {
  background: #7b8ea3;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 20px;
  border-radius: 12px;
}
